.header-sec{
	position:fixed;
	width:100%;
	background-color:#fff;
	box-shadow:0 0 8px #ddd;
	z-index:3;
}
.head{
	font-weight:600;
	font-family: "Poppins", sans-serif;
}
.head span{
	color:#e03a3c;
}
.menu .active{
	color:#e03a3c !important;
}
.menu a{
	font-size:16px;
	font-weight:600;
}
.menu a:hover{
	color:#e03a3c !important;
}

.navbar-toggle:focus{
	box-shadow:none;
	outline:0;
}
/*------------banner------------*/
.bnr-sec{
	background-image:linear-gradient( rgba( 0,0,0,0.55), rgba( 0,0,0,0.55)),url('../image/hero-bg.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	padding:150px 0;
}
.banner h1{
	font-size:50px;
	font-weight:600;
	font-family: 'Raleway', sans-serif;
	color:white;
}
.banner p{
	font-size:24px;
	font-family: 'Raleway', sans-serif;
	color:white;
}
.banner button:hover{
	background:none;
	border:solid 2px white;
}
/*-------------logo---------------*/

.logo img{
	width:100%;
	height:auto;
	opacity:0.5;
	filter:grayscale(100);	
}
.logo{
	padding:20px 35px;
	
}
.logo:hover{
	opacity:0.8;
	filter:grayscale(0);
}
/*.circle{
	text-align:center;
	padding-top:10px;	
}	
.circle span{
	display:inline-block;
	width:12px;
	height:12px;
	border-radius:50%;
	margin:0 3px;
	border:solid 1px #e03a3c;
	cursor:pointer;
}
.circle span.active{
	background-color:#e03a3c;
}
.circle span:hover{
	background-color:#e03a3c;
}*/
.logo-sec .carousel .carousel-indicators button{ 
  display:inline-block;
  width:12px;
  height:12px;
  border-radius:50%;
  border:solid 1px #dc3545;
  margin:0 4px;
  cursor:pointer;
  transform:translateY(50px);
}
.logo-sec .carousel .carousel-indicators button:hover{
	background-color:#dc3545;
}
.logo-sec .carousel .carousel-indicators button.active{
	background-color:#dc3545;
}
/*--------------about--------------*/
.about-sec{
	position:relative;
	
}
.about-sec:after{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:black;
	transform:skewY(-2deg);
	z-index:-1;
}
.about-info h2{
	color:white;
	font-size:35px;
	font-weight:600;
}
.about-info p{
	color:white;
}
.about-info a{
	text-decoration:none;
	padding:6px 30px 9px 35px;
	border-radius:20px;
	border:solid 2px #dc3545;
	color:white;
	text-transform:uppercase;
	font-size:14px;
	font-weight:600;
	color:white !important;
	
}
.about-info i{
	font-size:18px;
	margin-left:10px;
}
.about-info a:hover{
	background-color:#dc3545;
}
.abt-icon{
	color:#dc3545;
	font-size:30px;
}
.abt-content h4{
	color:white;
	
}
.abt-content p{
	color:gray;
	
}
/*--------------list-----------------*/

.list{
	position:relative;
	text-align:center;
	padding:30px 10px;
	background-color:white;
	box-shadow:0px 4px 17px rgb(182 178 178 / 23%);
}
.list-icon{
	position:absolute;
	width:52px;
	height:52px;
	left:50%;
	transform:translateX(-50%);	
	top:-25px;
	border-radius:50%;
	background-color:white;
	align-items:center;
	display:flex;
	justify-content:center;
	box-shadow:0px 4px 17px rgb(182 178 178 / 23%);
}
.list-icon i{
	font-size:26px;
	color:#dc3545;	
}
.list h1{
	font-size:40px;
	font-weight:700;	
}
.list p{
	font-size:15px;
	font-family: 'Raleway', sans-serif;
	color:#00000069;
}
/*-------------tab--------------*/
.abt-tab{
	border:none !important;
}
.abt-tab .nav-item{
	width:25%;
	flex:0 0 auto;
}
.abt-tab .nav-item .nav-link{
	border:solid 1px #ccc;
	margin:0 15px;
	color:#000;
	font-size:20px;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:30px 14px;
}
.abt-tab .nav-item:first-child .nav-link{
	margin-left:0;
}
.abt-tab .nav-item:last-child .nav-link{
	margin-right:0;
}
.abt-tab .nav-item .nav-link span{
	line-height:20px;
}
.abt-tab .nav-item .nav-link i{
	margin:0 10px;
	font-size:35px;
}
.abt-tab .nav-item .nav-link:hover{
	border-color:#e9ecef;
	color:#dc3545;
}
.abt-tab .nav-item .nav-link.active{
	background-color:#dc3545;
	color:#fff;
	border-color:#dc3545;
}
.tabs-1{
	font-size:26px;
	font-weight:600;
	color:#444444d6;
	font-family: 'Raleway', sans-serif;
}
.tab-2{
	font-style:italic;
	font-size:17px;
	color:#444444ad;
	font-family: "Open Sans", sans-serif;
}
.tab-1{
	font-size:17px;
	color:#444444ad;
	font-family: "Open Sans", sans-serif;
}

.icon-tick{
	padding:0 10px;
	color:#dc3545;
}
/*---------------services--------------*/
.service-sec{
	position:relative;
}
.service-sec:after{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:black;
	transform:skewY(-2deg);
	z-index:-1;
}
.service-title {
	text-align:center;
}
.service-title h2{
	color:#fff;
	font-family: "Raleway", sans-serif;
	font-weight:600;
	position:relative;
	margin-bottom:20px;
	padding-bottom:20px;
}
.service-title h2::after{
	content:"";
	position:absolute;
	width:60px;
	height:3px;
	display:block;
	background-color:#dc3545;
	left:50%;
	bottom:0;
    transform:translateX(-50%);	
	
}

.service-title p{
	font-size:18px;
	color:#fff;
	font-family: "Open Sans", sans-serif;
}
.service-content{
	display:flex;
	justify-content:space-between;
	padding:30px 20px;
	border-radius:4px;
	background-color:#2525254a;

}
.ser-icon{
	color:#dc3545;
	font-size:40px;
	margin-right:20px;
}
.ser-details a{
	text-decoration:none;
	font-size:18px;
	color:white;
	font-weight:bold;
	line-height:2;
	font-family: "Raleway", sans-serif;
}

.ser-details p{
	font-size:16px;
	color:white;
}
.ser-details a:hover{
	text-decoration:underline;
	color:white;
}
/*-------------portfolio-----------*/
.port-title{
	text-align:center;
}
.port-title h2{
	font-family: "Raleway", sans-serif;
	font-weight:600;
	position:relative;
	margin-bottom:20px;
	padding-bottom:20px;
}
.port-title h2::after{
	content:"";
	position:absolute;
	width:60px;
	height:3px;
	display:block;
	background-color:#dc3545;
	left:50%;
	bottom:0;
    transform:translateX(-50%);	
	
}
.port-title p{
	font-size:18px;
	font-family: "Open Sans", sans-serif;
	color: #444444;
	margin-bottom:20px;
}
.port-option{
	text-align:center;
	margin-top:30px;
}
.port-option span a{
	text-decoration:none;
	color:black;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
	border-radius:3px;
	
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	transition: all 0.3sec;
	
}
.port-option span a:hover{
	background-color:#dc3545;
	color:white;
}
.port-option span a.active{
	background-color:#dc3545;
	color:white;
}
.port-img img{
	width:100%;
	height:auto;
}
.port-img{
	position:relative;
	overflow:hidden;
}
.port-img img{
	transition:all 0.3s ease;
}
.port-img:hover img{
	transform:scale(1.3);
}
.port-info{
	position:absolute;
	bottom:0;
	left:0;
	top:0;
	right:0;
	opacity:0;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items:flex-start;
	transition:all 0.3s ease;
}
.port-info h3{
	font-size:20px;
	margin-bottom:10px;
	color:#fff;
	font-weight:600;
	font-family: "Raleway", sans-serif;
}
.port-info p{
	font-size:16px;
	color:#ffffffb3;
	margin-bottom:10px;
	font-style:italic;
}
.port-info a{
	font-size:18px;
	color:#a0a0a0;
	margin-right:10px;
}
.port-info a:hover{
	color:#fff;
}
.port-img:hover .port-info{
	background-color:rgba(17,17,17,0.6);
}
.port-img:hover .port-info{
	opacity:1;
}
/*----------------testimonial----------------*/
.testi-sect{
	padding:50px 0;
}
.test-title{
	text-align:center;
}
.test-title h2{
	font-family: "Raleway", sans-serif;
	font-weight:600;
	position:relative;
	margin-bottom:20px;
	padding-bottom:20px;
}
.test-title h2::after{
	content:"";
	position:absolute;
	width:60px;
	height:3px;
	display:block;
	background-color:#dc3545;
	left:50%;
	bottom:0;
    transform:translateX(-50%);	
	
}
.test-title p{
	font-size:18px;
	font-family: "Open Sans", sans-serif;
	color: #444444;
	margin-bottom:20px;
}
.testimonials-content{
    padding:40px 30px;
	box-shadow: 0 0 6px #ddd;
	border-radius:15px;
	margin:0 15px;
}
.testimonials-img{
	display:flex;
	justify-content:flex-start;
	align-items:center;
}
.testimonials-img img{
	width:80px;
	height:auto;
	margin-right:15px;
	margin-left:8px;
}
.testimonials-img .img-text h3{
	font-size:18px;
	margin-bottom:10px;
	font-weight:600;
	font-family: "Raleway", sans-serif;
}
.testimonials-img .img-text h5{
	font-size:16px;
	margin-bottom:10px;
	color:#999;
}
.testimonials-content p{
	font-size:16px;
	margin-bottom:10px;
	color:#444444;
	font-style:italic;
	line-height:26px;
	margin:20px auto 15px auto; 
}
.testimonials-content i{
	font-size:20px;
	color:#e03a3c3b;
	margin:0 10px;
}
.test-sec .carousel .carousel-indicators button{ 
  display:inline-block;
  width:12px;
  height:12px;
  border-radius:50%;
  border:solid 1px #dc3545;
  margin:0 4px;
  cursor:pointer;
  transform:translateY(50px);
}.test-sec .carousel .carousel-indicators button{ 
  display:inline-block;
  width:12px;
  height:12px;
  border-radius:50%;
  border:solid 1px #dc3545;
  margin:0 4px;
  cursor:pointer;
  transform:translateY(50px);
}
.test-sec .carousel .carousel-indicators button.active{
	background-color:#dc3545;
}
/*----------------pricing--------------------*/
.pricing-sec{
	position:relative;
}
.pricing-sec:after{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:black;
	transform:skewY(-2deg);
	z-index:-1;
}
.pricing-title{
	text-align:center;
}
.pricing-title h2{
	color:white;
	font-family: "Raleway", sans-serif;
	font-weight:bold;
	position:relative;
	margin-bottom:20px;
	padding-bottom:20px;
	text-transform:uppercase;
}
.pricing-title h2::after{
	content:"";
	position:absolute;
	width:60px;
	height:3px;
	display:block;
	background-color:#dc3545;
	left:50%;
	bottom:0;
    transform:translateX(-50%);	
	
}
.pricing-title p{
	color:white;
	font-size:18px;
}
.pricing-content{
	padding:40px 20px;
	border-radius:10px;
	background-color:#2b2b2b;
	text-align:center;
	color:white;
}
.pricing-content2{
	padding:40px 20px;
	border-radius:10px;
	background-color:#dc3545;
	text-align:center;
	color:white;
}
.pricing-head h5{
	text-transform:uppercase;
	line-height:3;
	
}

.head2 h3{
	font-size:40px;
	font-weight:600;
	line-height:1.5;
}
.head2 h3 span{
	font-size:20px;
	padding:0 10px;
	
}
.pricing-details del{
	color:rgb(255 255 255 / 35%);
}
.pricing-btn .btn{
	text-transform:capitalize;
	font-size:15px;
	font-weight:600;
	margin-top:20px;
}
.pricing-btn button{
	border-color:#ffffff47;
}
.pricing-btn button:hover{
	border-color:#fff;
}
/*----------------------question-----------------*/

.ques-title h2{
	font-family: "Raleway", sans-serif;
	font-weight:bold;
	position:relative;
	margin-bottom:20px;
	padding-bottom:20px;
	text-transform:uppercase;
	text-align:center;
}
.ques-title h2::after{
	content:"";
	position:absolute;
	width:60px;
	height:3px;
	display:block;
	background-color:#dc3545;
	left:50%;
	bottom:0;
    transform:translateX(-50%);	
}
.faq-content .accordion-button:not(.collapsed) {
    color:#dc3545;
    background-color:#fff;
    box-shadow:none;
}
.faq-content h2 button{
	font-size:18px;
	padding:20px 0;
	transition:all .3s ease;
}
.faq-content .accordion-body{
	line-height:30px;
	padding:0 0 10px 0;
}
.faq-content h2 button:hover{
	color:#dc3545;
}

.accordion-button:focus{ 
    border-color:none !important;
     box-shadow:none !important;
}

/*------------------team--------------------*/
.team-sec{
	position:relative;
	
}
.team-sec:after{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#1b1b1b;
	transform:skewY(-3deg);
	z-index:-1;
}
.team-title{
	text-align:center;
}
.team-title h2{
	color:#fff;
	font-family: "Raleway", sans-serif;
	font-weight:bold;
	position:relative;
	margin-bottom:20px;
	padding-bottom:20px;
	text-transform:uppercase;
}
.team-title h2::after{
	content:"";
	position:absolute;
	width:60px;
	height:3px;
	display:block;
	background-color:#dc3545;
	left:50%;
	bottom:0;
    transform:translateX(-50%);	
}
.team-title p{
	color:#fff;
	font-size:18px;
	font-family: "Raleway", sans-serif;
}
.card-body h5{
	font-size:18px;
	font-weight:bold;
	font-family: "Raleway", sans-serif;
}
.card-body p{
	font-size:14px;
	color:#8080809e;
}
.card-body{
	position:relative;
}
.card-icon{
	position:absolute;
	bottom:100px;
	right:0;
	left:0;
	display:flex;
	align-items:center;
	justify-content:center;
	opacity:0;
	
	
}
.card-icon i{
	padding:10px 10px;
	border-radius:50%;
	background-color:#dc3545;
	color:#fff;
	margin:0 5px;
	
}
.card:hover .card-icon{
	opacity:1;
	transition:translateY(50deg);
}
.card-icon i:hover{
	background-color:black;	
}
/*---------------------contact----------------*/
.contact-title{
	text-align:center;
}
.contact-title h2{
	font-family: "Raleway", sans-serif;
	font-weight:bold;
	position:relative;
	margin-bottom:20px;
	padding-bottom:20px;
	text-transform:uppercase;
	
}
.contact-title h2::after{
	content:"";
	position:absolute;
	width:60px;
	height:3px;
	display:block;
	background-color:#dc3545;
	left:50%;
	bottom:0;
    transform:translateX(-50%);	
}
.contact-title p{
	font-size:18px;
	color:#444444;
}
.contact-content{
	background-color:white;
	padding:15px 0;
	font-family:'Raleway', sans-serif;
	box-shadow:0 1px 14px #ccc;
	text-align:center;
}
.contact-content i{
	font-size:26px;
	color:#dc3545;
	width:50px;
	height:50px;
	border:dotted 1px #dc3545;
	border-radius:50%;
	text-align:center;
	line-height:50px;
	text-align:center;
}
.contact-content h5{
	font-size:20px;
	font-weight:600;
	color:#777777;
}
.contact-content p{
	font-size:14px;
	color:#444444;
}


.contact-form{
	margin-top:30px;
	padding:20px 20px;
	text-align:center;
	box-shadow:0 1px 14px #ccc;
}
.contact-form input{ 
	padding:8px 10px;
	width:100%;
	margin-bottom:20px;
	border:solid 1px #0000ff1a;
}
.contact-form textarea{
	border:solid 1px #0000ff1a;
}
.contact-form input:focus{
	border:solid 1px #212529ba;
	outline:0;
}
.contact-form textarea:focus{
	border:solid 1px #212529ba;
	outline:0;
}
.contact-form textarea{
	padding:8px 10px;
	width:100%;
	margin-bottom:20px;
}
/*----------------link-------------------*/
 .link-sec{
	background-color:#2b2b2b;
}
.link-content{
	padding:20px 0;
}
.link-content h4{
	font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
	font-family: 'Raleway', sans-serif;
	color:#fff;
}
.link-content h4 span{
	color:#dc3545;
}
.link-content p{ font-size:14px;
font-family: 'Raleway', sans-serif;
line-height: 20px;
color:#fff;
padding:10px 0;
}
.link-content span{ 
font-weight:600;
}

.link-content li{ 
padding:6px 0;
}
.link-content i{ font-size:14px;
color:#fff;

}
.link-content a{ 
font-size:14px;
font-family: 'Raleway', sans-serif;
line-height:24px;
color:#aaaaaa;
text-decoration:none;
margin-left:10px;
}
.link-content a:hover{ 
	color:#fff;
}
.link-content .subscribe-btn{ 
    margin-top: 30px;
    background: #fff;
    padding: 5px 10px;
    position: relative;
    border-radius: 4px;
    text-align: left;
	overflow:hidden;
}
.link-content .subscribe-btn [type="name"]{
    padding: 4px 5px;
    border: none;
}
.link-content .subscribe-btn [type="submit"]{ 
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 45px;
    background: #e03a3c;
    color: #fff;
    transition: 0.3s;
}
.link-content .subscribe-btn [type="submit"]:hover{ 
	opacity:0.8;
}
.foot-bar h4{
	font-size: 18px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
	color:#fff;
    padding-bottom: 153wq-dbhpx;
    position: relative;
}
.foot-bar h4:after{
	content: "";
	display:block;
    position: absolute;
	left:5%;
	top:30px;
    bottom: 0px;
    width: 25px;
    height: 2px;
    background-color:#dc3545;
	transform:translateX(-50%);
}
/*-----------------footer--------------------*/
.footer-sec{
	background-color:black;
}
.footer{
	font-family:'Raleway', sans-serif;
	font-size:12px;
	line-height:2;
	color:white;
	padding-top:10px;
}
.footer a{
	text-decoration:none;
	color:#dc3545;
}
.footer-icon a{
	text-decoration:none;
}
.footer-icon i{
	padding:10px 10px;
	background-color:#2b2b2b;
	border-radius:10%;
	color:white;
	transition: 0.3s;
	margin:0 4px;
}
.footer a:hover{
	color:#dc3545;
}
.footer-icon i:hover{
	background-color:#dc3545;
	
}