.head{
	font-weight:600;
	font-family: "Poppins", sans-serif;
}
.head span{
	color:#e03a3c;
}
.menu .active{
	color:#e03a3c !important;
}
.menu a{
	font-size:16px;
	font-weight:600;
}
.menu a:hover{
	color:#e03a3c !important;
}
.menu-btn button:hover{
	background-color:black;
}

/*------------banner------------*/
.bnr-sec{
	background-image:linear-gradient( rgba( 0,0,0,0.55), rgba( 0,0,0,0.55)),url('../image/hero-bg.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	padding:150px 0;
}
.banner h1{
	font-size:50px;
	font-weight:600;
	font-family: 'Raleway', sans-serif;
	color:white;
}
.banner p{
	font-size:24px;
	font-family: 'Raleway', sans-serif;
	color:white;
}
.banner button:hover{
	background-color:black;
	border:solid 2px white;
}
/*-------------logo---------------*/
.logo-sec{
	
}
.logo img{
	width:50%;
	height:auto;
}
.logo{
	opacity:0.5;
	filter:grayscale(100);	
}
.logo:hover{
	opacity:0.8;
	filter:grayscale(0);
}
.circle{
	text-align:center;
	padding-top:10px;	
}	
.circle span{
	display:inline-block;
	width:12px;
	height:12px;
	border-radius:50%;
	margin:0 3px;
	border:solid 1px #e03a3c;
	cursor:pointer;
}
.circle span.active{
	background-color:#e03a3c;
}
.circle span:hover{
	background-color:#e03a3c;
}
/*--------------about--------------*/
.about-sec{
	position:relative;
	
}
.about-sec:after{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:black;
	transform:skewY(-2deg);
	z-index:-1;
}
.about-info h2{
	color:white;
	font-size:35px;
	font-weight:600;
}
.about-info p{
	color:white;
}
.about-info a{
	text-decoration:none;
	padding:6px 30px 9px 35px;
	border-radius:20px;
	border:solid 2px #dc3545;
	color:white;
	text-transform:uppercase;
	font-size:14px;
	font-weight:600;
	color:white !important;
	
}
.about-info i{
	font-size:18px;
	margin-left:10px;
}
.about-info a:hover{
	background-color:#dc3545;
}
.abt-icon{
	color:#dc3545;
	font-size:30px;
}
.abt-content h4{
	color:white;
	
}
.abt-content p{
	color:gray;
	
}
/*--------------list-----------------*/

.list{
	position:relative;
	text-align:center;
	padding:30px 10px;
	background-color:white;
	box-shadow:0px 4px 17px rgb(182 178 178 / 23%);
}
.list-icon{
	position:absolute;
	width:52px;
	height:52px;
	left:110px;
	top:-25px;
	border-radius:50%;
	background-color:white;
	align-items:center;
	display:flex;
	justify-content:center;
	box-shadow:0px 4px 17px rgb(182 178 178 / 23%);
}
.list-icon i{
	font-size:26px;
	color:#dc3545;	
}
.list h1{
	font-size:40px;
	font-weight:700;	
}
.list p{
	font-size:15px;
	font-family: 'Raleway', sans-serif;
	color:#00000069;
}
/*-------------content--------------*/
.abt-tab{
	border:none !important;
}
.abt-tab .nav-item{
	width:25%;
	flex:0 0 auto;
}
.abt-tab .nav-item .nav-link{
	border:solid 1px #ccc;
	margin:0 15px;
	color:#000;
	font-size:20px;
	display:flex;
	justify-content:flex-start;
	align-items:flex-start;
	padding:30px 14px;
}
.abt-tab .nav-item:first-child .nav-link{
	margin-left:0;
}
.abt-tab .nav-item:last-child .nav-link{
	margin-right:0;
}
.abt-tab .nav-item .nav-link span{
	line-height:20px;
}
.abt-tab .nav-item .nav-link i{
	margin-right:15px;
	font-size:35px;
}
.abt-tab .nav-item .nav-link:hover{
	border-color:#e9ecef;
	color:#dc3545;
}
.abt-tab .nav-item .nav-link.active{
	background-color:#dc3545;
	color:#fff;
	border-color:#dc3545;
}
img{
	width:100%;
	height:auto;
}
/*---------------services--------------*/
.service-sec{
	position:relative;
}
.service-sec:after{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:black;
	transform:skewY(-2deg);
	z-index:-1;
}
.service-title {
	text-align:center;
}
.service-title h2{
	color:#fff;
	font-family: "Raleway", sans-serif;
	font-weight:600;
	position:relative;
	margin-bottom:20px;
	padding-bottom:20px;
}
.service-title h2::after{
	content:"";
	position:absolute;
	width:60px;
	height:3px;
	display:block;
	background-color:#dc3545;
	left:530px;
	bottom:0;
	
}

.service-title p{
	font-size:18px;
	color:#fff;
	font-family: "Open Sans", sans-serif;
}
.service-content{
	display:flex;
	justify-content:space-between;
	padding:30px 20px;
	border-radius:4px;
	background-color:#2525254a;

}
.ser-icon{
	color:#dc3545;
	font-size:40px;
	margin-right:20px;
}
.ser-details h5{
	font-size:18px;
	color:white;
	font-weight:bold;
	line-height:2;
	font-family: "Raleway", sans-serif;
}
.ser-details p{
	font-size:16px;
	color:white;
}
/*-------------portfolio-----------*/
.port-title{
	text-align:center;
}
.port-title h2{
	font-family: "Raleway", sans-serif;
	font-weight:600;
	position:relative;
	margin-bottom:20px;
	padding-bottom:20px;
}
.port-title h2::after{
	content:"";
	position:absolute;
	width:60px;
	height:3px;
	display:block;
	background-color:#dc3545;
	left:530px;
	bottom:0;
	
}
.port-title p{
	font-size:18px;
	font-family: "Open Sans", sans-serif;
	color: #444444;
	margin-bottom:20px;
}
.port-option{
	text-align:center;
	margin-top:30px;
}
.port-option span a{
	text-decoration:none;
	color:black;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
	border-radius:3px;
	
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	transition: all 0.3sec;
	
}
.port-option span a:hover{
	background-color:#dc3545;
	color:white;
}
.port-option span a.active{
	background-color:#dc3545;
	color:white;
}
.port-img img{
	width:100%;
	height:auto;
}

/*----------------testimonial----------------*/
.test-sec{
	background-color:white;	
}
.test-title{
	background-color:#dc3545;
	height:50px;
}
.test-content{
	background-color:#dc3545;
	height:300px;
}
/*----------------pricing--------------------*/
.pricing-sec{
	position:relative;
}
.pricing-sec:after{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:black;
	transform:skewY(-2deg);
	z-index:-1;
}
.pricing-title{
	text-align:center;
}
.pricing-title h2{
	color:white;
	font-family: "Raleway", sans-serif;
	font-weight:bold;
	position:relative;
	margin-bottom:20px;
	padding-bottom:20px;
	text-transform:uppercase;
}
.pricing-title h2::after{
	content:"";
	position:absolute;
	width:60px;
	height:3px;
	display:block;
	background-color:#dc3545;
	left:530px;
	bottom:0;
	
}
.pricing-title p{
	color:white;
	font-size:18px;
}
.pricing-content{
	padding:40px 20px;
	border-radius:10px;
	background-color:#2b2b2b;
	text-align:center;
	color:white;
}
.pricing-content2{
	padding:40px 20px;
	border-radius:10px;
	background-color:#dc3545;
	text-align:center;
	color:white;
}
.pricing-head h5{
	text-transform:uppercase;
	line-height:3;
	
}

.head2 h3{
	font-size:40px;
	font-weight:600;
	line-height:1.5;
}
.head2 h3 span{
	font-size:20px;
	padding:0 10px;
	
}
.pricing-details del{
	color:rgb(255 255 255 / 35%);
}
.pricing-btn .btn{
	text-transform:capitalize;
	font-size:15px;
	font-weight:600;
	margin-top:20px;
}
.pricing-btn button{
	border-color:#ffffff47;
}
.pricing-btn button:hover{
	border-color:#fff;
}
/*----------------------question-----------------*/

.ques-title h2{
	font-family: "Raleway", sans-serif;
	font-weight:bold;
	position:relative;
	margin-bottom:20px;
	padding-bottom:20px;
	text-transform:uppercase;
	text-align:center;
}
.ques-title h2::after{
	content:"";
	position:absolute;
	width:60px;
	height:3px;
	display:block;
	background-color:#dc3545;
	left:530px;
	bottom:0;
	
}

/*------------------team--------------------*/
.team-sec{
	position:relative;
}
.team-sec:after{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:black;
	transform:skewY(-2deg);
	z-index:-1;
}
.team-title{
	text-align:center;
}
.team-title h2{
	color:white;
	font-family: "Raleway", sans-serif;
	font-weight:bold;
	position:relative;
	margin-bottom:20px;
	padding-bottom:20px;
	text-transform:uppercase;
}
.team-title h2::after{
	content:"";
	position:absolute;
	width:60px;
	height:3px;
	display:block;
	background-color:#dc3545;
	left:530px;
	bottom:0;	
}
.team-title p{
	color:white;
	font-size:18px;
	font-family: "Raleway", sans-serif;
}
.card-body h5{
	font-size:18px;
	font-weight:bold;
	font-family: "Raleway", sans-serif;
}
.card-body p{
	font-size:14px;
	color:#8080809e;
}
.card-body{
	position:relative;
}
.card-icon{
	position:absolute;
	bottom:100px;
	right:0;
	left:0;
	display:flex;
	align-items:center;
	justify-content:center;
	opacity:0;
	transition:all 0.3sec;
	transform:translateY(50deg);
}
.card-icon i{
	padding:10px 10px;
	border-radius:50%;
	background-color:#dc3545;
	color:#fff;
	margin:0 5px;
}
.card:hover .card-icon{
	opacity:1;
}
.card-icon i:hover{
	background-color:black;	
}
/*---------------------contact----------------*/
.contact-title{
	text-align:center;
}
.contact-title h2{
	font-family: "Raleway", sans-serif;
	font-weight:bold;
	position:relative;
	margin-bottom:20px;
	padding-bottom:20px;
	text-transform:uppercase;
	
}
.contact-title h2::after{
	content:"";
	position:absolute;
	width:60px;
	height:3px;
	display:block;
	background-color:#dc3545;
	left:530px;
	bottom:0;	
}
.contact-title p{
	font-size:18px;
	color:#444444;
}
.contact-content{
	background-color:white;
	padding:15px 0;
	font-family:'Raleway', sans-serif;
	box-shadow:0 1px 14px #ccc;
	text-align:center;
}
.contact-content i{
	font-size:26px;
	color:#00bcd4;
	width:50px;
	height:50px;
	border:dotted 1px #00bcd4;
	border-radius:50%;
	text-align:center;
	line-height:50px;
	text-align:center;
}
.contact-content h5{
	font-size:20px;
	font-weight:600;
	color:#777777;
}
.contact-content p{
	font-size:14px;
	color:#444444;
}
.form-info{
	box-shadow:0 1px 14px #ccc;
}
/*----------------link-------------------*/
.link-section{
	padding:50px 0;
	background-color:#2b2b2b;
}
.link-content{
	font-family:'Raleway', sans-serif;
}
.address h1{
	font-size:25px;
	line-height:2;
	color:white;
}

.address p{
	font-size:14px;
	line-height:1.5;
	color:white;
}
.link-info{
	padding-top:25px;
}
.link-info span{
	font-size:14px;
	font-weight:600;
	padding-right:10px;
	line-height:1.5;
	color:white;
}
.link-info p{												
	font-size:14px;
	color:white;
}

/*-----------------footer--------------------*/
.footer-sec{
	background-color:black;
}
.footer{
	font-family:'Raleway', sans-serif;
	font-size:12px;
	line-height:2;
	color:white;
	padding-top:10px;
}
.footer a{
	text-decoration:none;
	color:#dc3545;
}
.footer-icon a{
	text-decoration:none;
}
.footer-icon i{
	padding:10px 10px;
	background-color:#2b2b2b;
	border-radius:10%;
	color:white;
	transition: 0.3s;
	margin:0 4px;
}
.footer-icon i:hover{
	background-color:#dc3545;
	
}